body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.right-links{
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.links {
    font-size: 18px;
}

.sub-one,
.action {
    background-color: #3882f6;
    color: #f9faf8;
}

.feel {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.main-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1f2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 300px;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.hero {
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 300px;
    padding-bottom: 50px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 500px;
    gap: 10px;
}


.hero-text {
    font-size: 60px;
    font-weight: 900;
    color: #f9faf8;
}


.welcome {
    width: 700px;
    height: auto;
}

.second-text, 
.text {
    font-weight: 100;
    color: #e5e7eb;
    font-size: 16px;
}

.pics {
    max-width: 300px;
    max-height: 300px;

}

button.sub-one {
    border-radius: 8px;
    border: none;
    color: #f9faf8;
    padding: 10px 25px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

button.sub-two {
    border-radius: 8px;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 25px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}